@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title.list{
    text-align:center;
}
.container ul li{
    display: flex;
    justify-content: space-between;
}
.container ul>input,.container ul>button{
    margin-top:5px;
}
.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 27%;

}
.days_section{
    display:flex;
    justify-content: center;
}
.days_section p{
    margin:7px 10px;
    font-size: 20px;
}
.days_numbre{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.days_numbre p{
    font-size: 18px;
    margin: 8px 0px 1px 0px;
    width: 14.28%;
    text-align: center;
}
.month_year{
    display:flex;
    column-gap: 50px;
}
.month_year h3{
    margin:0px;
}
.next_prev{
    margin-top: 8px;
    display: flex;
    column-gap: 250px;
}
.headerApp{
    height: 64px;
    margin-top: -21px;
    margin-left: -8px;
    padding-left: 44px;
    padding-top: 36px;
    background-image: linear-gradient(90deg,#0040a0,#4286f4);
}
.headerApp span{
    font-size:30px;
    font-weight: 600;
    padding-left:30px;
}
#app a{
    text-decoration: none;
    color: white;
}
#app a:visited {
    color: white;
}

/* Markdown app */

.markdown{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.markdown section{
    display: flex;
}
.markdown .input-text{
    width: 33vw;
    height: 105vh;
    border: 2px solid #a8b6c3;
    border-radius: 2%;
    background-color: white;
}
.markdown .output-text{
    width: 33vw;
    height: 105vh;
    border: 2px solid #a8b6c3;
    border-radius: 2%;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
    background-color: #4286f421;
}
.markdown section article textarea{
    width: 99%;
    height: 98.5%;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2%;
    
}
.slide{
    width: 100%;
    height: 400px;
    position: absolute;
}
.toggel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indicators{
    display: flex;
    width: 100%;
    height: 390px;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    column-gap: 4px;
}
.indicator{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.login-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsl(215, 40%, 40%);
    opacity: 50%;
    top: 0;
}
.login{
    position: absolute;
    top: 30%;
    left: 38%;
    background-color: white;
    padding: 7px;
    font-size: 25px;
    border-radius: 1%;
    font-family:'Roboto',sans-serif;
}
.login .title-login{
    font-size: 31px;
    font-weight: 400;
    width: 300px;
    text-align: center;
    padding-bottom: 16px;
}
.input{
    text-align: start;
    padding-bottom: 18px;
}
.input label{
    font-size: 20px ;
    text-align: start ;
    display: block;
    padding-bottom:4.5px
}
.input input{
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
    width: 100%;
    font-size: 17px;
}
.border{
    border: 1px solid hsl(0deg 0% 0% / 10%);
    padding: 6px 14px 12px 14px;
}
.login .loginButton{
    font-size: 20px;
    width: 100%;
    height: 37px;
    background: linear-gradient(90deg, red, #f149ec);
    color: white;
    border-radius: 4px;
    border: none;
}
.loginGoogle{
    margin-left: 75px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: white;
    border-color: #00000026;
    padding: 5px;
    border-radius: 8px;
}
.calculator{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 194px;
    margin: auto;
    row-gap: 2px;
}
.calculator p{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    overflow: auto;
    width: 143px;
    direction: rtl;
    height: 45px
}
.cal-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

}
.cal-buttons button{
    font-size: 20px;
    width: 44px;
    height: 40px;
    font-family: Roboto;
    background-color: white;
    border: 1px solid #0003;
    border-radius: 4px;
    box-shadow: 3px 3px 2px 0px #0000001a;
    cursor: pointer;
}
.cal-buttons button:active{
    background-color: rgba(0, 0, 0, 0.13)
}
.re-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.re-modal-title{
    font-size: 30px;
    font-family:Roboto;
    margin-top: 10px;
}

